<a href="https://colab.research.google.com/github/AnaliaLeyez/AnaliaLeyez/blob/main/intro_numpy_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introducción a Python, Numpy y Pandas

**NumPy** : es la biblioteca fundamental para el computo numerico en Python, que proporciona soporte para arreglos multidimensionales y funciones matemáticas optimizadas.

**Pandas:** es una biblioteca de análisis y manipulación de datos que facilita el trabajo con estructuras como DataFrames y Series.

NumPy proporciona la base para la computación numérica eficiente, mientras que Pandas ofrece herramientas de alto nivel para el análisis y la manipulación de datos estructurados. Estas herramientas juntas son esenciales para cualquier científico de datos.

El siguiente notebook es una intoducción rapida a numpy y pandas

# Referencia recomendadas

* Think Python: (Allen Downey)
  https://greenteapress.com/wp/think-python-2e/

* Think Python en castellano:
  https://github.com/espinoza/ThinkPython2-spanish

* Python: Tutorial oficial:
  https://docs.python.org/es/3/tutorial/

* Numpy y Pandas: Pandas For Data Analysis (Wes McKinney)
  https://wesmckinney.com/book/

* Numpy y Pandas: Pandas para analisis de datos
  https://www.amazon.com/-/es/Wes-McKinney/dp/8441546835

# TIPOS DE DATOS PYTHON

## Enteros

In [ ]:
# Evaluamos una expresión simple de un entero
# (Collab muestra el resultado de la evaluacion)

25

In [ ]:
# Con print() podemos 'imprimir' el resultado de las evaluaciones

print(15)

In [ ]:
# Evaluamos una expresión un poco más compleja con enteros
# (Collab muestra el resultado de la evaluacion)

12 + 34 - 12

In [ ]:
# el resultado de las expresiones puede almacenarce en variables

a = 12 + 35

a

In [ ]:
# todos los valores en python son objetos de un determinado tipo
type (40)

In [ ]:
# al almacenar un valor en una variable, decimos
# que la variable es del tipo de su valor

a = 43

type(a)

In [ ]:
# por último, los enteros pueden tener largos arbitrarios, no tienen límite fijo

entero_grande = 192731293791827391273912793712937129379127391273912739172937192379127391723917293719237912739172391729371298379182739812739749872394857293472938749237492873498273948729384792749274982734982739847298347928374928734982739847

print(entero_grande)

## Floats, float (Reales)

In [ ]:
# El tipo float puede represtar números con coma
f = 3.4

f

In [ ]:
type(f)

In [ ]:
# Usando . creamos números float
fx = 1.0

fx

In [ ]:
type(1.0)

In [ ]:
# el tipo float se pueden  representar numeros en notación científica
# y tres valores especiales:
#+inf (infinito positivo): Representa un número que es mayor que cualquier número finito.
#-inf (infinito negativo): Representa un número que es menor que cualquier número finito.
#nan (no es un número): Representa un valor indefinido o no representable.

print(1e3)

print(1e309)
print(-1e309)

## booleanos, bool

In [ ]:
# acepta solo dos valores
a = True
b = False

In [ ]:
# existen expresiones logicas que retornan valores bool

15 > 2

In [ ]:
# los resultados de las expresiones son un valor mas
# por tanto se puede almacenar

c = 10 > 2

In [ ]:
c

In [ ]:
type(c)

## Strings, str

In [ ]:
# triples comillas dobles (""") se utilizan para crear cadenas de caracteres multilínea
s = """
Hola
Que
Tal
"""
print(s)

In [ ]:
# Comillas simples para cadena simple
cadena_simple = 'Hola, que tal!'
print(cadena_simple)

# Convertir tipos con constructores

Crear valores a partir de otros valores, tambien se llama convertir el tipo de un valor

In [ ]:
# ejemplo 1
a = 1.3

# como hago para construir un entero con un float?
n = int(a)
n

In [ ]:
# otro ejemplo
s = "10"

# Como hago para construir un float con una cadena?
f = float(s)
f

In [ ]:
type(f)

In [ ]:
s

Los tipos de datos tienen funciones especiales que se llaman constructores. Estas funciones sirven para construir valores con otros valores. Este concepto es muy usado

## Construir enteros: int()

In [ ]:
# los enteros tambien son objetos. Por tanto pueden construirse
# los valores enteros se pueden construir con la funcion int()

int(12)

In [ ]:
# Hay varias maneras de crear / construir un entero

print(int(1))     # a partir de otro entero
print(int("1"))   # a partir de un valor cadena / string
print(int(1.2))

## Construir floats: float()

In [ ]:
# los float se pueden construir con float()
# varias formas de crear un float

print(float(1))
print(float(1.2))
print(float("1"))
print(float("5"))

In [ ]:
print(float("inf"))
print(float("-inf"))

In [ ]:
# el valor especial NaN se puede crear con float():
print(float("nan"))

## Construir valores booleanos: bool()

In [ ]:
# los booleanos se pueden construir de varias maneras

# bool retorna False solo es estos casos
print(bool(False))
print(bool(0))

print()

print(bool(True))
print(bool("True"))
print(bool(1))
print(bool(1.4))
print(bool("False"))
print(bool("0"))

## Construir strings: str()

In [ ]:
# el siguiente codigo falla:
#print("el numero: " + 1)  # <- no se pueden sumar valores string con enteros

In [ ]:
# con str() creamos string con otros valores

print(str(1))
print(str(1.2))
print(str(False))

In [ ]:
# Con str() podemos convertir el valor y luego concatenar los strings

a = 12
s = "el numero: " + str(a) + " convertido a string"
print(s)

# Contenedores

## Listas, list

In [ ]:
# Las listas se construyen usando []
colores = ["azul", "amarillo", "rojo", "verde"]

print(colores)

In [ ]:
# las listas estan implementadas con el tipo `list`

type(colores)

In [ ]:
# listas de enteros
[1, 2, 3, 4, 5, 6]

In [ ]:
# las listas permiten tipos mezclados
[1, 2, "azul", 4, "verde", 6] # no es lo común

In [ ]:
# otras maneras de crear una lista es unsando list()
list(range(4))

In [ ]:
# una lista de caracteres se puede construir con una cadena

list("ABCDE")

In [ ]:
# los contenedores también pueden guardar otros valores que sean contenedores

# una lista de tres listas de tres elementos
keypad = [
    [7,8,9],
    [4,5,6],
    [1,2,3]
]
print("keypad:", keypad)

## Diccionarios, dict ()

In [ ]:
# representan un conjunto de pares claves-valor. se representan con {clave: valor, ...}
# Cada clave es única dentro del diccionario, y se utiliza para acceder a su valor asociado.
codigos = {"BAJO": 20, "MEDIO": 50, "ALTO": 80 }

print(codigos)


# o invertidos
codigos_inv = {20: "BAJO", 50: "MEDIO", 80: "ALTO"}

print(codigos_inv)

In [ ]:
# los contenedores también pueden guardar otros valores que sean contenedores

# los datos de un automóvil
# Dic: auto; claves: Marca, modelo...lista: [1997, 2004, 2007]
auto = {
    "marca": "Ford",
    "modelo": "Focus",
    "anio": "1992",
    "revisiones": [1997, 2004, 2007]
}
print("auto:",auto)

print()

# el ejemplo ejercicio 1
# Data: diccionario, claves :Nombre,edad, genero...Listas: 'Juan', 'Laura',
data = {'Nombre': ['Juan', 'Laura', 'Sara', 'Antonio', 'Luisa'],
        'Edad': [25, 36, 40, 41, 29],
        'Género': ['M', 'F', 'F', 'M', 'F'],
        'Ciudad': ['Rosario', 'Rosario', 'Funes', 'Roldán', 'Rosario']}

print("ejemplo 1", data)

## Tuplas:: tuples

In [ ]:
# tuple, colecciones ordenadas e inmutables de elementos.
# Una vez creada, no se puede modificar sus elementos.
# Se representan con parentesis y valores separados por comas,

error = (404, "not found")
print(error)

In [ ]:
type(error)

## Conjuntos: set ()

In [ ]:
# set son colecciones desordenadas de elementos únicos.
# No pueden contener elementos duplicados.
# Se crean con {}
# y una lista de valores separados por comas

frutas = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
frutas

In [ ]:
# como en los conjuntos,
# no puede haber valores repetidos
# el orden es indistinto
print(frutas)

In [ ]:
# tambien se construyen usando set()
# se usa para quitar elementos repetidos

numeros = [100, 7, 7, 1, 3, 100, 1, 3, 4, 3, 2, 6, 7, 4]
s = set(numeros)

print("todos: ", numeros)
print("unicos:", s)

# Operaciones sobre contenedores

Largo, claves, valores

In [ ]:
# largo de un contendor (lista, tuple, set y dict)

colores = ["azul", "amarillo", "rojo", "verde"]
len(colores)

In [ ]:
codigos = {"BAJO": 20, "MEDIO": 50, "ALTO": 80 }
len(codigos)

In [ ]:
# las claves de un diccionario
codigos.keys()

In [ ]:
# los valores de un diccionario
codigos.values()

# Indexacion de contenedores

La indexación es la forma de acceder a un elemento o a un subconjunto de los elementos de una estructura.

In [ ]:
colores = ["azul", "amarillo", "rojo", "verde"]
codigos = {"BAJO": 20, "MEDIO": 50, "ALTO": 80 }

In [ ]:
#indexamos una lista
colores[2]

In [ ]:
# indexacion con valores negativos
colores[-1]

![image.png]()

In [ ]:
#indexamos un dict
codigos["MEDIO"]

In [ ]:
# modificar una lista con sun indice
na = [1,2,3,4,5,6]
print("antes", na)

na[1] = 0
na[2] = 0

print("despues", na)

# Indexacion con Slices (porciones)

Retornan porciones del contenedor, permiten extraer subconjuntos

In [ ]:
colores = ["azul", "amarillo", "rojo", "verde"]


colores[:3]

In [ ]:
# se pueden omitir los extremos
colores[:2]

In [ ]:
colores[1:]

In [ ]:
colores[:]

# NUMPY BASICO

Ver doc en https://numpy.org/doc/stable/reference/arrays.ndarray.html

In [ ]:
# impportamos numpy
import numpy as np

# Crear numpy arrays

Varias maneras de crear un array ("arreglo" o "matriz") de numpy

In [ ]:
# creamos un numpy array de enteros
data1 = np.array([1, 2, 3, 4, 5,6,7])
data1

In [ ]:
type(data1)

In [ ]:
# se puede explorar la informacion del ndarray
#shape permite ver el número de elementos
data1.shape

In [ ]:
# atributo que te permite determinar el tipo de datos
data1.dtype

In [ ]:
# creamos un numpy array con flotante
data2 = np.array([1.0, 2, 3.0, 4, 5.0])
data2 # en numpy todos los items tienen que ser del mismo tipo

In [ ]:

data2.dtype

Algunos tipos de numpy: https://wesmckinney.com/book/numpy-basics#tbl-table_array_dtypes

In [ ]:
# diferencia entre int de python y int64 de nparray
#np-->tienen un rango limitado
n = np.int64(123456)

n

In [ ]:
type(n)

In [ ]:
# int64 no soporta largo arbitrario

#np.int64(123456123456123456123456123456123456123456)

# vs int(123456123456123456123456123456123456123456)

In [ ]:

# se pueden crear un array con zeros

zeros = np.zeros(5)
zeros

In [ ]:
# se pueden crear con una scuencia
seq = np.arange(100)
seq

In [ ]:
# usando random, se pueden generar numeros al azar, pej

norm = np.random.randint(low=0, high=20, size=100)
norm

In [ ]:
# como puede convertir los tipos de un array
# utilizando el método astype().
#crea una copia del array original con los elementos convertidos al nuevo tipo.
data3 = data1.astype(np.float32)
data3

## Aritmética

Trabajemos con el siguiente ejemplo

In [ ]:
import numpy as np

In [ ]:
arr1 = np.array([1, 2, 3, 4, 5, 6])

arr2 = np.array([10, 20, 30, 40, 50, 60])

pylist = [1, 2, 3, 4, 5, 6]

In [ ]:
# la siguiente linea da error en python
# Python no sabe cómo "sumar" una lista y un número entero, por lo que genera un error

#pylist + 10

`numpy` permite realizar operaciones con los arreglos. A estas operaciones le dicen "broadcasting"

In [ ]:
# operaciones con valores
arr1 + 10

In [ ]:
arr1 * 2

In [ ]:
# operaciones con otras arrays

arr1 + arr2

In [ ]:
arr1 * arr2

In [ ]:
# podemos compararlos
arr1 > arr2

In [ ]:
# la negacion, “dónde NO se cumple que arr1 > arr2”.
~(arr1 > arr2)

# Indexación y slices

Similiar a la indexacion de las listas

In [ ]:
arr = np.arange(10)

In [ ]:
arr

In [ ]:
#elemento en la posición 5 del array
arr[5]

In [ ]:
arr[5:8]

In [ ]:
# los numpy arrays se pueden modificar con slices
arr[5:8] = 100

In [ ]:
arr

In [ ]:
# para setear todo podes usar los extremos vacios
arr[:] = 100

In [ ]:
arr

# Funciones de ndarray

Calculos sobre los arraglos

Documentacion del objeto ndarray
https://numpy.org/doc/stable/reference/arrays.ndarray.html

In [ ]:
arr = np.arange(10)
arr

In [ ]:
#método para calcular la media aritmética de los elementos
arr.mean()

In [ ]:
arr.max()

In [ ]:
arr.min()

In [ ]:
arr.sum()

# Funciones globales matemáticas de numpy

https://numpy.org/doc/stable/reference/routines.math.html

In [ ]:
import numpy as np
arr = np.arange(20)

In [ ]:
arr

In [ ]:
#Se utiliza para calcular la raiz cuadrada de cada elemento
np.square(arr)

In [ ]:
# el coseno de cada elemento
np.cos(arr)

In [ ]:
# la media aritmética (promedio)
np.mean(arr)

In [ ]:
# funciones de dos parametros
#realiza la suma elemento por elemento de dos arrays.
#En este caso suma el array arr consigo mismo
np.add(arr, arr)

In [ ]:
# se pueden combinar con tipos de python
# combina un array con un escalar, suma elemento con elemento
np.add(arr, 10)

In [ ]:
arr + 10

# INTRO PANDAS

In [ ]:
import pandas as pd

## Dataframe
Estructura de datos organizos en filas y columnas.

Introducimos el tipo Dataframe de pandas, con el ejemplo de la semana 1

In [ ]:
data = {'Nombre': ['Juan', 'Laura', 'Sara', 'Antonio', 'Luisa'],
        'Edad':   [25, 36, 40, 41, 29],
        'Altura': [1.65, 1.62, 1.59, 1.68, 1.66],
        'Genero': ['M', 'F', 'F', 'M', 'F'],
        'Ciudad': ['Rosario', 'Rosario', 'Funes', 'Roldán', 'Rosario']}

# Se crea un diccionario con listas
#data = {'Nombre': [    'Juan',   'Laura',    'Sara',  'Antonio',    'Luisa' ],
#        'Edad':   [        25,        36,        40,         41,         29 ],
#        'Altura': [      1.65,      1.62,      1.59,       1.68,       1.66 ],
#        'Genero': [       'M',       'F',       'F',        'M',        'F' ],
#        'Ciudad': [ 'Rosario', 'Rosario',   'Funes',   'Roldán',  'Rosario' ]}

Documentación de DataFrame pandas: https://pandas.pydata.org/pandas-docs/stable/reference/frame.html

In [ ]:
# como creamos un dataframe de pandas
# Toma el diccionario data y lo transforma en una estructura de DataFrame
df = pd.DataFrame(data)

In [ ]:
#Visaulizamos el Dataframe
df

    Nombre  Edad  Altura Genero   Ciudad
0     Juan    25    1.65      M  Rosario
1    Laura    36    1.62      F  Rosario
2     Sara    40    1.59      F    Funes
3  Antonio    41    1.68      M   Roldán
4    Luisa    29    1.66      F  Rosario

In [ ]:
# informacion sobre el dataframe
# obtener un resumen rápido y conciso de la estructura
df.info()
# columnas: nombre, nº de nulos, Tipo de datos
# Dataframe: Nº filas y columnas,Índice, Uso de memoria

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nombre  5 non-null      object
 1   Edad    5 non-null      int64
 2   Altura  5 non-null      float64
 3   Genero  5 non-null      object
 4   Ciudad  5 non-null      object
dtypes: float64(1), int64(1), object(3)
memory usage: 332.0+ bytes

In [ ]:
# inspeccionar las primeras filas del df
df.head()

    Nombre  Edad  Altura Genero   Ciudad
0     Juan    25    1.65      M  Rosario
1    Laura    36    1.62      F  Rosario
2     Sara    40    1.59      F    Funes
3  Antonio    41    1.68      M   Roldán
4    Luisa    29    1.66      F  Rosario

In [ ]:
# inspeccionar las últimas filas del df
df.tail()

    Nombre  Edad  Altura Genero   Ciudad
0     Juan    25    1.65      M  Rosario
1    Laura    36    1.62      F  Rosario
2     Sara    40    1.59      F    Funes
3  Antonio    41    1.68      M   Roldán
4    Luisa    29    1.66      F  Rosario

In [ ]:
# Resumen estadístico rápido de las columnas numéricas
#count: El número de valores no nulos en cada columna.
#mean: La media (promedio).
#std: La desviación estándar, que mide la dispersión de los valores alrededor de la media.
#min
#25%: El percentil 25 (primer cuartil).
#50%: El percentil 50 (mediana).
#75%: El percentil 75 (tercer cuartil).
#max
df.describe()

            Edad    Altura
count   5.000000  5.000000
mean   34.200000  1.640000
std     6.978539  0.035355
min    25.000000  1.590000
25%    29.000000  1.620000
50%    36.000000  1.650000
75%    40.000000  1.660000
max    41.000000  1.680000

## 'Partes' básicas de un Dataframe

In [ ]:
df

    Nombre  Edad  Altura Genero   Ciudad
0     Juan    25    1.65      M  Rosario
1    Laura    36    1.62      F  Rosario
2     Sara    40    1.59      F    Funes
3  Antonio    41    1.68      M   Roldán
4    Luisa    29    1.66      F  Rosario

In [ ]:
# acceder al índice
df.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
#  acceder a los nombres de las columnas
df.columns

Index(['Nombre', 'Edad', 'Altura', 'Genero', 'Ciudad'], dtype='object')

In [ ]:
# indexar un dataframe y seleccionar una columna por su nombre
df["Nombre"]

0       Juan
1      Laura
2       Sara
3    Antonio
4      Luisa
Name: Nombre, dtype: object

In [ ]:
# acceder a una serie
df["Edad"]

0    25
1    36
2    40
3    41
4    29
Name: Edad, dtype: int64

In [ ]:
#información sobre la naturaleza del objeto resultante de la selección

#Al seleccionar una columna de un DF, No obtenés un DataFrame, sino un objeto Series de pandas
type(df["Edad"])

pandas.core.series.Series

## Series
Estructura de datos unidimensional etiquetada, cada elemento tiene un índice.

El tipo de pandas Series. https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html

## Acceso a una serie y partes de una serie

In [ ]:
df

    Nombre  Edad  Altura Genero   Ciudad
0     Juan    25    1.65      M  Rosario
1    Laura    36    1.62      F  Rosario
2     Sara    40    1.59      F    Funes
3  Antonio    41    1.68      M   Roldán
4    Luisa    29    1.66      F  Rosario

In [ ]:
df["Edad"]

0    25
1    36
2    40
3    41
4    29
Name: Edad, dtype: int64

In [ ]:
type(df["Edad"])

pandas.core.series.Series

In [ ]:
# Extraer los valores de la columna y devolverlos como un array de NumPy.
# Útil para trabajar con los datos numéricos directamente.
df["Edad"].values

array([25, 36, 40, 41, 29])

In [ ]:
type(df["Edad"].values)

numpy.ndarray

In [ ]:
# el indice de una serie
df["Edad"].index

RangeIndex(start=0, stop=5, step=1)

## Funciones mátematicas de las series

In [ ]:
df["Edad"]

0    25
1    36
2    40
3    41
4    29
Name: Edad, dtype: int64

In [ ]:
# promedio de valores en la serie
df["Edad"].mean()

np.float64(34.2)

In [ ]:
# otras funciones matematicas
df["Edad"].min()

25

In [ ]:
# suma de todos los valores
total_edades = df["Edad"].sum()
total_edades

np.int64(171)

In [ ]:
# hay muchas mas... https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html

## Aritmética de las series

In [ ]:
df["Edad"]

0    25
1    36
2    40
3    41
4    29
Name: Edad, dtype: int64

In [ ]:
# ejemplos 1
df["Edad"] * 100

0    2500
1    3600
2    4000
3    4100
4    2900
Name: Edad, dtype: int64

In [ ]:
# ejemplos 2
df["Altura"] / df["Edad"]

0    0.066000
1    0.045000
2    0.039750
3    0.040976
4    0.057241
dtype: float64

## Operaciones lógicas en las series

In [ ]:
df_edades = df["Edad"]
df_edades

0    25
1    36
2    40
3    41
4    29
Name: Edad, dtype: int64

In [ ]:
# comparación booleana en la columna "Edad"
df["Edad"] > 30

0    False
1     True
2     True
3     True
4    False
Name: Edad, dtype: bool

## Indexación
Seleccionar y acceder a elementos específicos dentro de una estructura de datos.

In [ ]:
edades = df["Edad"]
edades

0    25
1    36
2    40
3    41
4    29
Name: Edad, dtype: int64

In [ ]:
edades[4]

np.int64(29)

In [ ]:
edades[1:4]

1    36
2    40
3    41
Name: Edad, dtype: int64

In [ ]:
# indexacion por array boolean
# seleccionar elementos de la Serie donde la condición booleana es True
edades[[True, False, True, False, False]]

0    25
2    40
Name: Edad, dtype: int64

In [ ]:
# recordar..
edades>30

0    False
1     True
2     True
3     True
4    False
Name: Edad, dtype: bool

In [ ]:
#filtrar datos basados en condiciones
# ahora podemos mezclar los dos conceptos, Indexacion boolean y aritmetica logica sobre las series.
filtro = edades>30
print(filtro)
#utilizando la técnica de indexación por corchetes en la Serie
edades[filtro]

0    False
1     True
2     True
3     True
4    False
Name: Edad, dtype: bool

1    36
2    40
3    41
Name: Edad, dtype: int64

In [ ]:
edades[edades>30]

1    36
2    40
3    41
Name: Edad, dtype: int64

In [ ]:
#filtrado y selección de columna en un solo paso
#Filtra df para incluir solo donde el valor'Edad' es mayor que 30.

df[df['Edad']>30]['Edad']

1    36
2    40
3    41
Name: Edad, dtype: int64

## Seleccionar renglones/filas

In [ ]:
df

    Nombre  Edad  Altura Genero   Ciudad
0     Juan    25    1.65      M  Rosario
1    Laura    36    1.62      F  Rosario
2     Sara    40    1.59      F    Funes
3  Antonio    41    1.68      M   Roldán
4    Luisa    29    1.66      F  Rosario

In [ ]:
# acceder por posición, como si las filas estuvieran numeradas del 0 en adelante
# .iloc: "traer la fila número 0".
df.iloc[0]

Nombre       Juan
Edad           25
Altura       1.65
Genero          M
Ciudad    Rosario
Name: 0, dtype: object

In [ ]:
# acceder por nombre de indice
# .loc: "traer la fila que se llama 0".
df.loc[4]

Nombre      Luisa
Edad           29
Altura       1.66
Genero          F
Ciudad    Rosario
Name: 4, dtype: object

In [ ]:
# como ejemplo de diferenciar iloc y loc transponemos el dataframe
# intercambiar sus filas por sus columnas
dft = df.T
dft

              0        1      2        3        4
Nombre     Juan    Laura   Sara  Antonio    Luisa
Edad         25       36     40       41       29
Altura     1.65     1.62   1.59     1.68     1.66
Genero        M        F      F        M        F
Ciudad  Rosario  Rosario  Funes   Roldán  Rosario

In [ ]:
## acceso por nombre
dft.loc["Genero"]

0    M
1    F
2    F
3    M
4    F
Name: Genero, dtype: object

In [ ]:
# acceso por posición
dft.iloc[0]

0       Juan
1      Laura
2       Sara
3    Antonio
4      Luisa
Name: Nombre, dtype: object

![image.png]()

## Seleccionar un sub dataframe

In [ ]:
df

    Nombre  Edad  Altura Genero   Ciudad
0     Juan    25    1.65      M  Rosario
1    Laura    36    1.62      F  Rosario
2     Sara    40    1.59      F    Funes
3  Antonio    41    1.68      M   Roldán
4    Luisa    29    1.66      F  Rosario

In [ ]:
df.iloc[1]

Nombre      Laura
Edad           36
Altura       1.62
Genero          F
Ciudad    Rosario
Name: 1, dtype: object

In [ ]:
#selección de rango
df.loc[1:2]

  Nombre  Edad  Altura Genero   Ciudad
1  Laura    36    1.62      F  Rosario
2   Sara    40    1.59      F    Funes

In [ ]:
df["Edad"]

0    25
1    36
2    40
3    41
4    29
Name: Edad, dtype: int64

In [ ]:
# Subconjunto del df con las columnas "Edad" y "Altura"
df[["Edad", "Altura","Genero"]]

   Edad  Altura Genero
0    25    1.65      M
1    36    1.62      F
2    40    1.59      F
3    41    1.68      M
4    29    1.66      F

In [ ]:
# ahora podemos a su seleccionar por renglones/filas con loc
df[["Edad", "Altura"]].loc[1:2]

   Edad  Altura
1    36    1.62
2    40    1.59

In [ ]:
# existe una manera mas corta de escribir lo de arriba
df.loc[1:2, ["Edad", "Altura"]]

   Edad  Altura
1    36    1.62
2    40    1.59

In [ ]:
#operaciones para calcular la media de las columnas "Edad" y "Altura"
#para las filas con etiquetas de índice 1 y 2
df.loc[1:2, ["Edad", "Altura"]].mean()

Edad      38.000
Altura     1.605
dtype: float64

In [ ]:
df.loc[1:2, ["Edad", "Altura"]].sum()

Edad      76.00
Altura     3.21
dtype: float64