<a href="https://colab.research.google.com/github/AnaliaLeyez/AnaliaLeyez/blob/main/Semana_01_Tema_07_PythonTipoDeDatos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# str

In [ ]:
str_:str="Hola mundo!"
print(f"str_: {str_} - tipo: {type(str_)}")

str_: Hola mundo! - tipo: <class 'str'>

In [ ]:
a=" hola "
b="MUNDo! "
c= a+b
print(f"a=#{a}# - b=#{b}#")
print("-----")

print("a+b=#", c, "#")
print("-----")

c="%s%s" % (a,b)
print('"%s%s" % (a,b)=#', c, "#")
print("-----")

c="{}{}".format(a,b)
print('"{}{}".format(a,b)=#', c, "#")
print("-----")

c=f"{a+b}"
print('f"{a+b}"=#',c, "#")
print("-----")

c=f"{a}{b}"
print('f"{a}{b}"=#',c, "#")

a=# hola # - b=#MUNDo! #
-----
a+b=#  hola MUNDo!  #
-----
"%s%s" % (a,b)=#  hola MUNDo!  #
-----
"{}{}".format(a,b)=#  hola MUNDo!  #
-----
f"{a+b}"=#  hola MUNDo!  #
-----
f"{a}{b}"=#  hola MUNDo!  #

In [ ]:
print(f"original: #{c}#")
# lower
print(f"lower: #{c.lower()}#")
# upper
print(f"upper: #{c.upper()}#")
# capitalize
print(f"capitalize: #{c.strip().capitalize()}#")
# startswith
print(f"startswith ( ho): {c.startswith(' ho')}")
print(f"startswith ( ha): {c.startswith(' ha')}")
# endswith
print(f"endswith (! ): {c.endswith('! ')}")
print(f"endswith (  ): {c.endswith('  ')}")
# strip, lstrip, rstrip
print(f"strip: #{c.strip()}#")
print(f"lstrip: #{c.lstrip()}#")
print(f"rstrip: #{c.rstrip()}#")
# split
print(f"split (o): #{c.split('o')}#")

original: # hola MUNDo! #
lower: # hola mundo! #
upper: # HOLA MUNDO! #
capitalize: #Hola mundo!#
startswith ( ho): True
startswith ( ha): False
endswith (! ): True
endswith (  ): False
strip: #hola MUNDo!#
lstrip: #hola MUNDo! #
rstrip: # hola MUNDo!#
split (o): #[' h', 'la MUND', '! ']#

# bool

In [ ]:
bool_:bool = True # False
print(f"bool_: {bool_} - tipo: {type(bool_)}")

bool_: True - tipo: <class 'bool'>

In [ ]:
print("NOT")
print(f"bool_: {bool_} - not bool_: {not bool_}")
print()
print("AND")
print(f"bool_1 and bool_2 = resultado")
print(f"True   and True   = {True  and True}")
print(f"True   and False  = {True  and False}")
print(f"False  and True   = {False and True}")
print(f"False  and False  = {False and False}")
print()
print("OR")
print(f"bool_1 or bool_2 = resultado")
print(f"True   or True   = {True  or True}")
print(f"True   or False  = {True  or False}")
print(f"False  or True   = {False or True}")
print(f"False  or False  = {False or False}")

NOT
bool_: True - not bool_: False

AND
bool_1 and bool_2 = resultado
True   and True   = True
True   and False  = False
False  and True   = False
False  and False  = False

OR
bool_1 or bool_2 = resultado
True   or True   = True
True   or False  = True
False  or True   = True
False  or False  = False

## not

| bool_ | resultado |
| --- | --- |
| True | False |
| False | True |

## and

| bool_1 | bool_2 | resultado |
| --- | --- | --- |
| True | True | True |
| True | False | False |
| False | False | False |
| False | True | False


## or

| bool_1 | bool_2 | resultado |
| --- | --- | --- |
| True | True | True |
| True | False | True |
| False | False | False |
| False | True | True |

# int / float

In [ ]:
int_:int = 10
float_:float = 10.5
print(f"int_: {int_} - tipo: {type(int_)}")
print(f"float_: {float_} - tipo: {type(float_)}")

int_: 10 - tipo: <class 'int'>
float_: 10.5 - tipo: <class 'float'>

In [ ]:
int_1:int=5
int_2:int=2
# + suma
print(f"suma: {int_1} + {int_2} = {int_1 + int_2}")
# - resta
print(f"resta: {int_1} - {int_2} = {int_1 - int_2}")
# * multiplicación
print(f"multiplicación: {int_1} * {int_2} = {int_1 * int_2}")
# / división
print(f"división: {int_1} / {int_2} = {int_1 / int_2}")
# // división entera
print(f"división entera: {int_1} // {int_2} = {int_1 // int_2}")
# ** potencia
print(f"potencia: {int_1} ** {int_2} = {int_1 ** int_2}")
# % módulo o resto de la división
print(f"módulo o resto de la división: {int_1} % {int_2} = {int_1 % int_2}")

suma: 5 + 2 = 7
resta: 5 - 2 = 3
multiplicación: 5 * 2 = 10
división: 5 / 2 = 2.5
división entera: 5 // 2 = 2
potencia: 5 ** 2 = 25
módulo o resto de la división: 5 % 2 = 1

# date y datetime

In [ ]:
from datetime import date, datetime

date_:date=date(1990,1,1)
print(f"date_: {date_} - tipo: {type(date_)}")

date_: 1990-11-22 - tipo: <class 'datetime.date'>

In [ ]:
datetime_:datetime=datetime(1990,1,1, 2,55,36)
print(f"datetime_: {datetime_} - tipo: {type(datetime_)}")

datetime_: 1990-01-01 02:55:36 - tipo: <class 'datetime.datetime'>

In [ ]:
#strftime
datetime_to_str:str=datetime_.strftime("%d/%m/%Y %H:%M:%S")
print(f"datetime_to_str: {datetime_to_str} - tipo: {type(datetime_to_str)}")

datetime_to_str: 01/01/1990 02:55:36 - tipo: <class 'str'>

In [ ]:
#strptime
str_to_datetime:datetime=datetime.strptime(datetime_to_str,"%d/%m/%Y %H:%M:%S")
print(f"str_to_datetime: {str_to_datetime} - tipo: {type(str_to_datetime)}")

str_to_datetime: 1990-01-01 02:55:36 - tipo: <class 'datetime.datetime'>

In [ ]:
from datetime import timedelta

datetime_add_10:datetime=datetime_+timedelta(days=10)
print(f"datetime_: {datetime_} - tipo: {type(datetime_)}")
print(f"datetime_add_10: {datetime_add_10} - tipo: {type(datetime_add_10)}")

datetime_: 1990-01-01 02:55:36 - tipo: <class 'datetime.datetime'>
datetime_add_10: 1990-01-11 02:55:36 - tipo: <class 'datetime.datetime'>

In [ ]:

datetime_sub_10:datetime=datetime_-timedelta(days=10)
print(f"datetime_: {datetime_} - tipo: {type(datetime_)}")
print(f"datetime_sub_10: {datetime_sub_10} - tipo: {type(datetime_sub_10)}")

datetime_: 1990-01-01 02:55:36 - tipo: <class 'datetime.datetime'>
datetime_sub_10: 1989-12-22 02:55:36 - tipo: <class 'datetime.datetime'>