<a href="https://colab.research.google.com/github/AnaliaLeyez/AnaliaLeyez/blob/main/Semana_05_Tema_01_Pandas_funciones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Vamos a levantar un dataset de [fake news en español]
- fake news en español (https://www.kaggle.com/datasets/guillermoezquer/fakenews-espaol)
- reviews tripadvisor en español e inglés (https://www.kaggle.com/datasets/mmaguero/la-mision-hotel-boutiqueasuncionpyges)

In [ ]:
from google.colab import drive
import numpy as np
from pandas import DataFrame, read_csv, to_datetime
import pandas as pd

In [ ]:
drive.mount("/content/drive")
!pip install kaggle
!mkdir -p ~/.kaggle
!cp /content/drive/MyDrive/kaggle/kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

Mounted at /content/drive
Requirement already satisfied: kaggle in /usr/local/lib/python3.11/dist-packages (1.6.17)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.11/dist-packages (from kaggle) (1.17.0)
Requirement already satisfied: certifi>=2023.7.22 in /usr/local/lib/python3.11/dist-packages (from kaggle) (2025.1.31)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.11/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (from kaggle) (2.32.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.11/dist-packages (from kaggle) (4.67.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.11/dist-packages (from kaggle) (8.0.4)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.11/dist-packages (from kaggle) (2.3.0)
Requirement already satisfied: bleach in /usr/local/lib/python3.11/dist-packages (from kaggle) (6.2.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.11/dist-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.11/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests->kaggle) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests->kaggle) (3.10)
cp: cannot stat '/content/drive/MyDrive/kaggle/kaggle.json': No such file or directory
chmod: cannot access '/root/.kaggle/kaggle.json': No such file or directory

In [ ]:
dataset_kaggle = "mmaguero/la-mision-hotel-boutiqueasuncionpyges"
folder_dataset = f"/content/drive/MyDrive/kaggle/datasets/{dataset_kaggle.split('/')[1]}"
!mkdir -p {folder_dataset}
!kaggle datasets download --unzip -d {dataset_kaggle} --p {folder_dataset}
!ls {folder_dataset}

Dataset URL: https://www.kaggle.com/datasets/mmaguero/la-mision-hotel-boutiqueasuncionpyges
License(s): CC-BY-SA-4.0
Downloading la-mision-hotel-boutiqueasuncionpyges.zip to /content/drive/MyDrive/kaggle/datasets/la-mision-hotel-boutiqueasuncionpyges
  0% 0.00/94.9k [00:00<?, ?B/s]
100% 94.9k/94.9k [00:00<00:00, 4.06MB/s]
La_Mision_Hotel_Boutique-Asuncion__es.csv

In [ ]:
# leemos el dataset y mostramos la cabecera
df = read_csv(f"{folder_dataset}/La_Mision_Hotel_Boutique-Asuncion__es.csv", delimiter=",")
df.head()

,review_body,review_date,rating
0,"Elija cualquiera de sus opciones, standard o e...","January 11, 2019",5
1,El nivel de atencion del personal y calidad de...,"September 21, 2018",5
2,muy buena ubicación con una arquitectura agrad...,"January 11, 2019",5
3,"Raúl un verdadero metre del desayuno, lo mejor...","January 11, 2019",5
4,Un excelente hotel la misión en Asuncion Muy l...,"January 6, 2019",5

## Aplicando funciones

Sirve para aplicar funciones a las columnas.
Al leer la descripción del dataset podemos ver que existen reviews que están en inglés, una forma sencilla para detectarlas sería buscando las palabras `the`, `is`, `are`.

## Apply

Aplica una función sobre una fila o una columna del DataFrame. Trabaja con el argumento axis donde por defecto trabaja por columnas (axis=0).

En caso de no aplicarlo sobre una Serie se aplica sobre todo el DataFrame produciendo un nuevo DataFrame o Series.

### Desde una función lambda

Para buscar vamos a aplicar una función lambda a toda la columna "review_body" y crearemos una columna llamada "ingles" la cual va a ser True si se encuentra una de la palabra `are`

In [ ]:

df["ingles"] = df["review_body"].apply(lambda celda:
                                       True if celda.lower().find(" are ") >= 0  else False)

print('Sentencia: df["review_body"].apply(lambda celda: \n' \
                                      ' True if celda.lower().find(" are ") >= 0 \\ \n' \
                                      ' or celda.find(" are ") >= 0 else False)')
print()
print("Mostramos las 10 primeras filas de comentarios en inglés:\n", df[df["ingles"] == True].head(10))

Sentencia: df["review_body"].apply(lambda celda:
 True if celda.lower().find(" are ") >= 0 \
 or celda.find(" are ") >= 0 else False)

Mostramos las 10 primeras filas de comentarios en inglés:
                                            review_body         review_date  \
570  Great hotel in Asuncion. Beautifull rooms, sta...       July 26, 2017
571  I enjoyed my stay at La Mision very much. I wa...       June 26, 2017
572  It is a quite Hotel and has the style of an ol...        June 8, 2017
576  This beautiful well decorated hotel is a parad...        May 17, 2017
580  I have stayed here twice now on business and i...      March 16, 2017
582  I just read that this hotel made # 22 on trip ...    January 17, 2017
584  Its a nice Hotel that worth staying at when co...   November 23, 2016
585  Clean. Large place. Great area. Good price. No...   November 17, 2016
586  Very nice hotel. Excellent service. Personnel ...   November 14, 2016
589  This hotel is lovely.The rooms are imaginative...  September 22, 2016

     rating  ingles
570       5    True
571       5    True
572       3    True
576       5    True
580       5    True
582       5    True
584       4    True
585       5    True
586       5    True
589       5    True

### Desde una función

Para buscar vamos a llamar a una función "en_espaniol" sobre toda la columna "review_body" y crearemos una columna llamada "espaniol" la cual va a ser True si NO se encuentra la palabra `are`

In [ ]:
def en_espaniol(celda: str) -> bool:
  """ Verifica si la review es en español.

  Args:
    celda (str): Recibe el valor de la celda que estoy iterando en este momento.

  Returns:
    bool: Retorna True si la review es en español, en caso contrario devuelve False.
  """
  if celda.lower().find(" are ") >= 0:
    return False
  else:
    return True

df["espaniol"] = df["review_body"].apply(en_espaniol)

print('Sentencia: df["review_body"].apply(en_espaniol)')
print()
print("Mostramos las 10 primeras filas de comentarios en español:\n", df[df["espaniol"] == True].head(10))

Sentencia: df["review_body"].apply(en_espaniol)

Mostramos las 10 primeras filas de comentarios en español:
                                          review_body         review_date  \
0  Elija cualquiera de sus opciones, standard o e...    January 11, 2019
1  El nivel de atencion del personal y calidad de...  September 21, 2018
2  muy buena ubicación con una arquitectura agrad...    January 11, 2019
3  Raúl un verdadero metre del desayuno, lo mejor...    January 11, 2019
4  Un excelente hotel la misión en Asuncion Muy l...     January 6, 2019
5  La pileta tenia un color medio verde, como si ...   December 27, 2018
6  Todo excelente, el servicio muy bueno y la ate...   December 18, 2018
7  Increibles instalaciones, las utilizamos para ...   December 13, 2018
8  La ubicación, instalaciones, amabilidad y cord...    December 9, 2018
9  Hotel premium, servicio premium, con detalles ...    December 3, 2018

   rating  ingles  espaniol
0       5   False      True
1       5   False      True
2       5   False      True
3       5   False      True
4       5   False      True
5       5   False      True
6       5   False      True
7       5   False      True
8       5   False      True
9       5   False      True

### Desde una función con parámetros

Para buscar vamos a llamar a una función "en_ingles_parametros" sobre toda la columna "review_body" y crearemos una columna llamada "espaniol_parametros" la cual va a ser True si se encuentra una de las siguientes palabra `the`, `is`, `are` o un grupo de palabras ingresadas a mano.

Podemos verificar que hay review en inglés que están etiquetadas de forma incorrecta.

Para el ingreso de palabras vamos a utilizar un formulario y se ingresaran palabras separadas por coma.

In [ ]:
# mostramos la primer fila donde la columna "ingles" es False pero vemos
# que está escrita en inglés. Esto de debe a que no seleccionamos
# todas las palabras corretas
for i in range(0, df.shape[0]):
  if df.loc[i]["review_body"].lower().find(" the ") >= 0 \
    and not df.loc[i]["ingles"]:
    print("Muestro la fila: \n", df.loc[i])
    print()
    print("Muestro la review completa: \n", df.loc[i]["review_body"])
    break

Muestro la fila:
 review_body    This is a unique and welcoming boutique hotel....
review_date                                       August 2, 2017
rating                                                         5
ingles                                                     False
espaniol                                                    True
Name: 569, dtype: object

Muestro la review completa:
 This is a unique and welcoming boutique hotel. The staff is warm and professional. The food at the restaurant is great The location is convenient for walking around Villa Mora and other local neighborhoods. I can't recommend it highly enough!

In [ ]:
#@title Ingreso de palabras en inglés
#@markdown Vamos a probar agregando las palabras "the" e "is".

ingles_parametros = "the, is" #@param {"type": "string"}

In [ ]:
# Vamos a scribir la función "en_espaniol_parametros" y luego recalculamos la
# columna "espaniol"

def en_espaniol_parametros(celda: str, nuevas_palabras_ingles: list) -> bool:
  """ Verifica si la review es en español.

  Args:
    celda (str): Recibe el valor de la celda que estoy iterando en este momento.
    nuevas_palabras_ingles (list): Lista de palabras en inglés que debo chequear
      si se encuentra dentro de la celda.

  Returns:
    bool: Retorna True si la review es en español, en caso contrario devuelve False.
  """
  celda_tmp = celda.lower()
  if celda_tmp.find(" are ") >= 0:
    return False
  if nuevas_palabras_ingles and len(nuevas_palabras_ingles) > 0:
    for palabra in nuevas_palabras_ingles:
      if celda_tmp.find(palabra) >= 0:
        # se encontro una palabra en inglés dentro del texto, por lo tanto
        # lo marco como que no está es español
        return False
  return True

nuevas_palabras_ingles = [palabra.lower().strip() for palabra in ingles_parametros.split(',')]
df["espaniol_parametros"] = df["review_body"].apply(en_espaniol_parametros, args=(nuevas_palabras_ingles,))

print('Sentencia: df["review_body"].apply(en_espaniol_parametros, args=(nuevas_palabras_ingles,))')
print()
print("Mostramos las 10 primeras filas de comentarios en español:\n", df[df["espaniol_parametros"] == True].head(10))

Sentencia: df["review_body"].apply(en_espaniol_parametros, args=(nuevas_palabras_ingles,))

Mostramos las 10 primeras filas de comentarios en español:
                                           review_body        review_date  \
2   muy buena ubicación con una arquitectura agrad...   January 11, 2019
6   Todo excelente, el servicio muy bueno y la ate...  December 18, 2018
7   Increibles instalaciones, las utilizamos para ...  December 13, 2018
9   Hotel premium, servicio premium, con detalles ...   December 3, 2018
10  El Hotel es muy bueno, como qualquer otro cinc...  November 14, 2018
11  todo muy bueno, ubicación, decoración, atenció...   November 9, 2018
12  Muy recomendable, las habitaciones que dan al ...   November 4, 2018
13  Es un hotel excelente, sus instalaciones son m...   October 15, 2018
14  Es un gran hotel, cálido, confortable, la mejo...   October 14, 2018
15  Se debería proteger mejor el estacionamiento. ...   October 12, 2018

    rating  ingles  espaniol  espaniol_parametros
2        5   False      True                 True
6        5   False      True                 True
7        5   False      True                 True
9        5   False      True                 True
10       5   False      True                 True
11       4   False      True                 True
12       5   False      True                 True
13       5   False      True                 True
14       5   False      True                 True
15       5   False      True                 True

In [ ]:
# verificamos que no hay filas que tengan la columna "espaniol" en True y que posea
# las palabras "the", "is" o "are"
for i in range(0, df.shape[0]):
  if (df.loc[i]["review_body"].lower().find(" the ") >= 0 \
    or df.loc[i]["review_body"].lower().find(" is ") >= 0 \
    or df.loc[i]["review_body"].lower().find(" are ") >= 0) \
    and df.loc[i]["espaniol"]:
    print("Muestro la fila: \n", df.loc[i])
    print()
    print("Muestro la review completa: \n", df.loc[i]["review_body"])
    break

Muestro la fila:
 review_body            This is a unique and welcoming boutique hotel....
review_date                                               August 2, 2017
rating                                                                 5
ingles                                                             False
espaniol                                                            True
espaniol_parametros                                                False
Name: 569, dtype: object

Muestro la review completa:
 This is a unique and welcoming boutique hotel. The staff is warm and professional. The food at the restaurant is great The location is convenient for walking around Villa Mora and other local neighborhoods. I can't recommend it highly enough!

### Desde una función lambda con parámetros

Para buscar vamos a llamar a una función "en_ingles_parametros" sobre toda la columna "review_body" y crearemos una columna llamada "ingles_parametros" la

cual va a ser True si se encuentra una de las siguientes palabra `the`, `is`, `are` o un grupo de palabras ingresadas a mano.

Podemos verificar que hay review en inglés que están etiquetadas de forma incorrecta.

Para el ingreso de palabras vamos a utilizar un formulario y se ingresaran palabras separadas por coma.

In [ ]:
# Vamos a scribir la función "en_espaniol_parametros" y luego recalculamos la
# columna "espaniol"

def en_ingles_parametros(celda: str, nuevas_palabras_ingles: list) -> bool:
  """ Verifica si la review es en inglés.

  Args:
    celda (str): Recibe el valor de la celda que estoy iterando en este momento.
    nuevas_palabras_ingles (list): Lista de palabras en inglés que debo chequear
      si se encuentra dentro de la celda.

  Returns:
    bool: Retorna True si la review es en inglés, en caso contrario devuelve False.
  """
  celda_tmp = celda.lower()
  if celda_tmp.find(" are ") >= 0:
    return True
  if nuevas_palabras_ingles and len(nuevas_palabras_ingles) > 0:
    for palabra in nuevas_palabras_ingles:
      if celda_tmp.find(palabra) >= 0:
        # se encontro una palabra en inglés dentro del texto, por lo tanto
        # lo marco como que está es inglés
        return True
  return False

nuevas_palabras_ingles = [palabra.lower().strip() for palabra in ingles_parametros.split(',')]
df["ingles_parametros"] = df["review_body"].apply(lambda celda:
                                         en_ingles_parametros(
                                             celda=celda,
                                             nuevas_palabras_ingles=nuevas_palabras_ingles))

print('Sentencia: df["review_body"].apply(lambda celda: \n ' \
                                         'en_ingled_parametros(\n ' \
                                         '    celda=celda,\n ' \
                                         '    nuevas_palabras_ingles=nuevas_palabras_ingles))')
print()
print("Mostramos las 10 primeras filas de comentarios en español:\n", df[df["ingles_parametros"] == True].head(10))

Sentencia: df["review_body"].apply(lambda celda:
 en_ingled_parametros(
     celda=celda,
     nuevas_palabras_ingles=nuevas_palabras_ingles))

Mostramos las 10 primeras filas de comentarios en español:
                                           review_body         review_date  \
0   Elija cualquiera de sus opciones, standard o e...    January 11, 2019
1   El nivel de atencion del personal y calidad de...  September 21, 2018
3   Raúl un verdadero metre del desayuno, lo mejor...    January 11, 2019
4   Un excelente hotel la misión en Asuncion Muy l...     January 6, 2019
5   La pileta tenia un color medio verde, como si ...   December 27, 2018
8   La ubicación, instalaciones, amabilidad y cord...    December 9, 2018
17  Excelente estadia, todas las veces que vamos a...     October 9, 2018
22  Precioso lugar con un diseño de interior admir...  September 11, 2018
23  Muy buena opción de hotel en Asunción. Ubicaci...  September 10, 2018
26  El hotel se encuentra en un lindo barrio frent...   September 2, 2018

    rating  ingles  espaniol  espaniol_parametros  ingles_parametros
0        5   False      True                False               True
1        5   False      True                False               True
3        5   False      True                False               True
4        5   False      True                False               True
5        5   False      True                False               True
8        5   False      True                False               True
17       5   False      True                False               True
22       5   False      True                False               True
23       5   False      True                False               True
26       5   False      True                False               True

In [ ]:
# verificamos que no hay valores en True en ambas columnas "espaniol_parametros" y "ingles_parametros"
df[(df["espaniol_parametros"] & df["ingles_parametros"])]

Empty DataFrame
Columns: [review_body, review_date, rating, ingles, espaniol, espaniol_parametros, ingles_parametros]
Index: []

In [ ]:
# verificamos que no hay valores en False en ambas columnas "espaniol_parametros" y "ingles_parametros"
# el simbolo ~ significa la negación de la operación boolean
df[(~(df["espaniol_parametros"] | df["ingles_parametros"]))]

Empty DataFrame
Columns: [review_body, review_date, rating, ingles, espaniol, espaniol_parametros, ingles_parametros]
Index: []

## Transform

Vamos a explicarlo con ejemplos y comparandolo con la función `apply` porque son similares.

`Transform` trabaja con una función, una lista de funciones o un diccionario, mientras que apply solo trabaja con una función.

`Transform` no puede producir resultados de agregaciones y solo trabaja con una Series a la vez.

`Transform` produce un resultado que posee la misma cantidad de filas que el DataFrame original mientras que `apply` puede producir un DataFrame con una cantidad de filas distintas por ejemplo cuando agrupamos.

In [ ]:
# vamos a generar un DataFrame con números para utilizar de ejemplo
df_transform = DataFrame({'A': [1,2,3], 'B': [10,20,30] })

### Desde una función

In [ ]:
# definimos una función que suma 10 a un valor de entreda
def suma_10(x):
    return x + 10

print("DataFrame original (df_transform):\n", df_transform)
print()
print("Aplicamos la función a todo el DataFrame")
print("Sentencia: df_transform.apply(suma_10))")
print("El resultado del apply es:\n", df_transform.apply(suma_10))
print()
print("Sentencia: df_transform.transform(suma_10))")
print("El resultado del transform es:\n", df_transform.transform(suma_10))
print()
print("Aplicamos la función a la columna B y creamos nuevas columnas para el apply y el transform")
print("Sentencia: df_transform['B_ap'] = df_transform['B'].apply(suma_10))")
df_transform['B_ap'] = df_transform['B'].apply(suma_10)
print("El resultado del apply luego de agregar una columna es:\n", df_transform)
print()
print("Sentencia: df_transform['B_tr'] = df_transform['B'].transform(suma_10))")
df_transform['B_tr'] = df_transform['B'].apply(suma_10)
print("El resultado del transform luego de agregar una columna es:\n", df_transform)
# como podemos observar la salida es exactamente la misma

DataFrame original (df_transform):
    A   B
0  1  10
1  2  20
2  3  30

Aplicamos la función a todo el DataFrame
Sentencia: df_transform.apply(suma_10))
El resultado del apply es:
     A   B
0  11  20
1  12  30
2  13  40

Sentencia: df_transform.transform(suma_10))
El resultado del transform es:
     A   B
0  11  20
1  12  30
2  13  40

Aplicamos la función a la columna B y creamos nuevas columnas para el apply y el transform
Sentencia: df_transform['B_ap'] = df_transform['B'].apply(suma_10))
El resultado del apply luego de agregar una columna es:
    A   B  B_ap
0  1  10    20
1  2  20    30
2  3  30    40

Sentencia: df_transform['B_tr'] = df_transform['B'].transform(suma_10))
El resultado del transform luego de agregar una columna es:
    A   B  B_ap  B_tr
0  1  10    20    20
1  2  20    30    30
2  3  30    40    40

### Desde una función lambda

In [ ]:
print("DataFrame original (df_transform):\n", df_transform)
print()
print("Sentencia: df_transform.apply(lambda x: x + 10))")
print("El resultado del apply es:\n", df_transform.apply(lambda x: x + 10))
print()
print("Sentencia: df_transform.transform(lambda x: x + 10))")
print("El resultado del transform es:\n", df_transform.transform(lambda x: x + 10))
# como podemos observar la salida es exactamente la misma

DataFrame original (df_transform):
    A   B  B_ap  B_tr
0  1  10    20    20
1  2  20    30    30
2  3  30    40    40

Sentencia: df_transform.apply(lambda x: x + 10))
El resultado del apply es:
     A   B  B_ap  B_tr
0  11  20    30    30
1  12  30    40    40
2  13  40    50    50

Sentencia: df_transform.transform(lambda x: x + 10))
El resultado del transform es:
     A   B  B_ap  B_tr
0  11  20    30    30
1  12  30    40    40
2  13  40    50    50

### Las principales diferencias

- transform puede tomar una función, una función como string, una lista de funciones o un diccionario.
- transform NO puede operar con agregaciones.
- apply trabaja con múltiples Series al mismo tiempo, miestras que transform solo trabaja con 1 Series.

#### transform y funciones

In [ ]:
print("DataFrame original (df_transform):\n", df_transform)
print()
print("Utilizaremos la función np.sqrt para calcular la raíz ")
print("Sentencia: df_transform.transform(np.sqrt)")
print("El resultado del transform es:\n", df_transform.transform(np.sqrt))
print()
print("Utilizaremos la función 'sqrt' para calcular la raíz cuadrada")
print("Sentencia: df_transform.transform('sqrt')")
print("El resultado del transform es:\n", df_transform.transform('sqrt'))
print()
print("""
Utilizaremos las función 'np.sqrt' y 'np.exp' para calcular la raiz
 cuadrada y la exponencial. Notar que al utilizar una lista me crea un DataFrame
 con subcolumns, es decir, que ahora las columnas con tuplas y una es la columna
 original (posición 0) y la subcolumna es el nombre de la función (posición 1),
 esto mismo lo podemos utilizar con los índices.""")
df_transform_lista = df_transform.transform([np.sqrt, np.exp])
print("Sentencia: df_transform_lista = df_transform.transform([np.sqrt, np.exp])")
print("El resultado del transform es:\n", df_transform_lista)
print("Sentencia: df_transform_lista.columns")
print("Las columnas del nuevo DataFrame son tupla:\n", df_transform_lista.columns)
print()
print("""
Utilizaremos las función 'np.sqrt' y 'np.exp' para calcular la raiz
 cuadrada y la exponencial. Notar que al utilizar un diccionario debo poner como
 clave el nombre de la columna con la que deseo operar y la/s función que deseo
 realizar.""")
df_transform_dict = df_transform.transform({'A': np.sqrt,'B': np.exp})
print("Sentencia: df_transform_dict = df_transform.transform({'A': np.sqrt,'B': np.exp})")
print("El resultado del transform es:\n", df_transform_dict)

DataFrame original (df_transform):
    A   B  B_ap  B_tr
0  1  10    20    20
1  2  20    30    30
2  3  30    40    40

Utilizaremos la función np.sqrt para calcular la raíz
Sentencia: df_transform.transform(np.sqrt)
El resultado del transform es:
           A         B      B_ap      B_tr
0  1.000000  3.162278  4.472136  4.472136
1  1.414214  4.472136  5.477226  5.477226
2  1.732051  5.477226  6.324555  6.324555

Utilizaremos la función 'sqrt' para calcular la raíz cuadrada
Sentencia: df_transform.transform('sqrt')
El resultado del transform es:
           A         B      B_ap      B_tr
0  1.000000  3.162278  4.472136  4.472136
1  1.414214  4.472136  5.477226  5.477226
2  1.732051  5.477226  6.324555  6.324555


Utilizaremos las función 'np.sqrt' y 'np.exp' para calcular la raiz
 cuadrada y la exponencial. Notar que al utilizar una lista me crea un DataFrame
 con subcolumns, es decir, que ahora las columnas con tuplas y una es la columna
 original (posición 0) y la subcolumna es el nombre de la función (posición 1),
 esto mismo lo podemos utilizar con los índices.
Sentencia: df_transform_lista = df_transform.transform([np.sqrt, np.exp])
El resultado del transform es:
           A                    B                    B_ap                \
       sqrt        exp      sqrt           exp      sqrt           exp
0  1.000000   2.718282  3.162278  2.202647e+04  4.472136  4.851652e+08
1  1.414214   7.389056  4.472136  4.851652e+08  5.477226  1.068647e+13
2  1.732051  20.085537  5.477226  1.068647e+13  6.324555  2.353853e+17

       B_tr
       sqrt           exp
0  4.472136  4.851652e+08
1  5.477226  1.068647e+13
2  6.324555  2.353853e+17
Sentencia: df_transform_lista.columns
Las columnas del nuevo DataFrame son tupla:
 MultiIndex([(   'A', 'sqrt'),
            (   'A',  'exp'),
            (   'B', 'sqrt'),
            (   'B',  'exp'),
            ('B_ap', 'sqrt'),
            ('B_ap',  'exp'),
            ('B_tr', 'sqrt'),
            ('B_tr',  'exp')],
           )


Utilizaremos las función 'np.sqrt' y 'np.exp' para calcular la raiz
 cuadrada y la exponencial. Notar que al utilizar un diccionario debo poner como
 clave el nombre de la columna con la que deseo operar y la/s función que deseo
 realizar.
Sentencia: df_transform_dict = df_transform.transform({'A': np.sqrt,'B': np.exp})
El resultado del transform es:
           A             B
0  1.000000  2.202647e+04
1  1.414214  4.851652e+08
2  1.732051  1.068647e+13

#### Transform y agregaciones

Vamos a utilizar de ejemplo la agregación por columnas. En este caso vamos a ver como la función de `transform` no muestra un error.

In [ ]:
print("DataFrame original (df_transform):\n", df_transform)
print()
print("Sentencia: df_transform.apply(lambda x: x.sum()))")
print("El resultado del apply es:\n", df_transform.apply(lambda x: x.sum()))
print()
print("Sentencia: df_transform.transform(lambda x: x.sum()))")
print("El resultado del transform es:\n", df_transform.transform(lambda x: x.sum()))

DataFrame original (df_transform):
    A   B  B_ap  B_tr
0  1  10    20    20
1  2  20    30    30
2  3  30    40    40

Sentencia: df_transform.apply(lambda x: x.sum()))
El resultado del apply es:
 A        6
B       60
B_ap    90
B_tr    90
dtype: int64

Sentencia: df_transform.transform(lambda x: x.sum()))

ValueError: Function did not transform

#### Operando con Series

Vamos a ver como podemos operar con varias series a la vez utilizando el `apply` y como la misma función me tira un error al utilizar `transform`.

In [ ]:
# definimos una función que resta la Series 'B' de la Series 'A'
def resta_2_series(x):
    return x['B'] - x['A']

print("DataFrame original (df_transform):\n", df_transform)
print()
print("Sentencia: df_transform.apply(resta_2_series, axis=1)")
print("El resultado del apply es:\n", df_transform.apply(resta_2_series, axis=1))
print()
print("Sentencia: df_transform.transform(resta_2_series, axis=1))")
print("El resultado del transform es:\n", df_transform.transform(resta_2_series, axis=1))

DataFrame original (df_transform):
    A   B  B_ap  B_tr
0  1  10    20    20
1  2  20    30    30
2  3  30    40    40

Sentencia: df_transform.apply(resta_2_series, axis=1)
El resultado del apply es:
 0     9
1    18
2    27
dtype: int64

Sentencia: df_transform.transform(resta_2_series, axis=1))

ValueError: Function did not transform

## groupby

In [ ]:
df_transform_group_by = DataFrame({
    'key': ['a','b','c'] * 3,
    'A': np.arange(9),
    'B': [1,2,3] * 3,
})

### transform retorna la misma longitud del DataFrame original

In [ ]:
# función que suma una Series
def suma_grupo(x):
    return x.sum()

print("DataFrame original (df_transform_group_by):\n", df_transform_group_by)
print()
print("Sentencia: df_transform_group_by.groupby('key')")
print("El resultado es (OBSERVAR LA COLUMNA A):\n")
group_by = df_transform_group_by.groupby('key')
for key, item in group_by:
  print(group_by.get_group(key), "\n")
print()
print("Sentencia: df_transform_group_by.groupby('key')['A'].apply(suma_grupo)")
print("Este resultado está agrupado por la columna 'key'")
print("El resultado del apply es:\n", df_transform_group_by.groupby('key')['A'].apply(suma_grupo))
print()
print("Sentencia: df_transform_group_by.groupby('key')['A'].transform(suma_grupo)")
print("Este resultado está agrupado por la columna 'key' pero retorna la misma longitud del DataFrame original")
print("El resultado del transform es:\n", df_transform_group_by.groupby('key')['A'].transform(suma_grupo))

DataFrame original (df_transform_group_by):
   key  A  B
0   a  0  1
1   b  1  2
2   c  2  3
3   a  3  1
4   b  4  2
5   c  5  3
6   a  6  1
7   b  7  2
8   c  8  3

Sentencia: df_transform_group_by.groupby('key')
El resultado es (OBSERVAR LA COLUMNA A):

  key  A  B
0   a  0  1
3   a  3  1
6   a  6  1

  key  A  B
1   b  1  2
4   b  4  2
7   b  7  2

  key  A  B
2   c  2  3
5   c  5  3
8   c  8  3


Sentencia: df_transform_group_by.groupby('key')['A'].apply(suma_grupo)
Este resultado está agrupado por la columna 'key'
El resultado del apply es:
 key
a     9
b    12
c    15
Name: A, dtype: int64

Sentencia: df_transform_group_by.groupby('key')['A'].transform(suma_grupo)
Este resultado está agrupado por la columna 'key' pero retorna la misma longitud del DataFrame original
El resultado del transform es:
 0     9
1    12
2    15
3     9
4    12
5    15
6     9
7    12
8    15
Name: A, dtype: int64

### No permite trabajar con varias Series

In [ ]:
# función que resta las columnas B - A
def restar_2_series(x):
  return x['B'] - x['A']

print("DataFrame original (df_transform_group_by):\n", df_transform_group_by)
print()
print("Sentencia: df_transform_group_by.groupby('key')")
print("El resultado es (OBSERVAR LA COLUMNA A):\n")
group_by = df_transform_group_by.groupby('key')
for key, item in group_by:
  print(group_by.get_group(key), "\n")
print()
print("Sentencia: df_transform_group_by.groupby('key').apply(restar_2_series)")
print("Este resultado está agrupado por la columna 'key'")
print("El resultado del apply es:\n", df_transform_group_by.groupby('key').apply(restar_2_series))
print()
print("Sentencia: df_transform_group_by.groupby('key').transform(restar_2_series)")
print("Este resultado está agrupado por la columna 'key' pero retorna la misma longitud del DataFrame original")
print("El resultado del transform es:\n", df_transform_group_by.groupby('key').transform(restar_2_series))

DataFrame original (df_transform_group_by):
   key  A  B
0   a  0  1
1   b  1  2
2   c  2  3
3   a  3  1
4   b  4  2
5   c  5  3
6   a  6  1
7   b  7  2
8   c  8  3

Sentencia: df_transform_group_by.groupby('key')
El resultado es (OBSERVAR LA COLUMNA A):

  key  A  B
0   a  0  1
3   a  3  1
6   a  6  1

  key  A  B
1   b  1  2
4   b  4  2
7   b  7  2

  key  A  B
2   c  2  3
5   c  5  3
8   c  8  3


Sentencia: df_transform_group_by.groupby('key').apply(restar_2_series)
Este resultado está agrupado por la columna 'key'
El resultado del apply es:
 key
a    0    1
     3   -2
     6   -5
b    1    1
     4   -2
     7   -5
c    2    1
     5   -2
     8   -5
dtype: int64

Sentencia: df_transform_group_by.groupby('key').transform(restar_2_series)
Este resultado está agrupado por la columna 'key' pero retorna la misma longitud del DataFrame original

<ipython-input-22-6f0c5527c0ce>:15: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  print("El resultado del apply es:\n", df_transform_group_by.groupby('key').apply(restar_2_series))

KeyError: 'B'

## vectorized

Pandas tiene funciones vectorizadas que funcionan de forma más optima. La mayoría de las funciones de str están vectorizadas.

In [ ]:
# vamos a levantar nuevamente el dataset
df_vectorized = read_csv(f"{folder_dataset}/La_Mision_Hotel_Boutique-Asuncion__es.csv", delimiter=",")
df_vectorized.head()

In [ ]:
# vamos a medir el tiempo para verificar si una review está en inglés
%time df_vectorized["ingles_sin_vectorizar"] = df["review_body"].apply(lambda celda: True if celda.find(" are ") >= 0  else False)

In [ ]:
# vamos a medir el tiempo para verificar si una review está en inglés
%time df_vectorized["ingles_vectorizada"] = df["review_body"].str.find(" are ") >= 0

In [ ]:
print("DataFrame (df_vectorized):\n", df_vectorized)

### Funciones de string vectorizadas

|  |  |  |  |
| --- | --- | --- | --- |
| len() | lower() | translate() | islower() |
| ljust() | upper()      | startswith() | isupper() |
| rjust() | find()       | endswith()   | isnumeric() |
| center()| rfind()      | isalnum()    | isdecimal() |
| zfill() | index()      | isalpha()    | split() |
| strip() | rindex()     | isdigit()    | rsplit() |
| rstrip()| capitalize() | isspace()    | partition() |
| lstrip()| swapcase()   | istitle()    | rpartition()  |

In [ ]:
print("Sentencia: df_vectorized['review_bod'].str.len()")
print("La longitud de cada review es:\n", df_vectorized["review_body"].str.len())

In [ ]:
print('Sentencia: df_vectorized["review_body"].str.len()')
print("Cambia el las letras lower case a upper case y viceversa:\n",
      df_vectorized["review_body"].str.swapcase())

In [ ]:
print('Sentencia: df_vectorized["review_body"].str.split()')
print("Realizamos el split:\n",
      df_vectorized["review_body"].str.split())

### Funciones que utilizan expresiones regulares

| Función | Descripción |
| --- | --- |
| match() | Llama a `re.match()`, retorna un Boolean. |
| extract() | Llama a `re.match()`, retorna el grupo de matches como strings. |
| findall() | Llama a `re.findall()`. |
| replace() | Reemplaza las ocurrencias del patrón por un string. |
| contains() | Llama a `re.search()`, retorna un Boolean. |
| count() | Cuenta las ocurrencias del patrón. |
| split() | Equivalente a `str.split()`, pero acepta expresiones regulares. |
| rsplit() | Equivalente a `str.rsplit()`, pero acepta expresiones regulares. |

In [ ]:
print('Sentencia: df_vectorized["review_body"].str.findall(r"\sare\s")')
print('Buscamos la palabra " are ":\n',
      df_vectorized["review_body"].str.findall(r"\sare\s"))

In [ ]:
print('Sentencia: df_vectorized["review_body"].str.count(r"\sare\s")')
print('Contamos la/s palabra/s " are ":\n',
      df_vectorized["review_body"].str.count(r"\sare\s"))

In [ ]:
print('Sentencia: df_vectorized["review_body"].str.contains(r"\sare\s")')
print('Verificamos si existe la palabra " are ":\n',
      df_vectorized["review_body"].str.contains(r"\sare\s"))

### Otras funciones

| Función | Descripción |
| --- | --- |
| get() | Índice de cada elemento. |
| slice() | Slice de cada elemento. |
| slice_replace() | Reemplaza el slice en cada elemento con el valor que se pasó. |
| cat() | Concatena strings. |
| repeat() | Repite valores. |
| normalize() | Retorna el unicode del string. |
| pad() | Agrega espacios en blanco el izquierda, derecha o ambos lados del string. |
| wrap() | Separa strings largos en líneas con una longitud máxima que se pasa como parámetro. |
| join() | Une los strings en cada elemento de la Series con el separados que recibe como parámeto. |
| get_dummies() | Crea un nuevo DataFrame a partir del split de una columna |

In [ ]:
print('Sentencia: df_vectorized["review_body"].str.slice(0,10)')
print('Obtiene los 10 primeros caracteres:\n',
      df_vectorized["review_body"].str.slice(0,10))

In [ ]:
print('Sentencia: df_vectorized["review_body"].str.split().str.get(-1)')
print('Obtiene la última palabra:\n',
      df_vectorized["review_body"].str.split().str.get(-1))

In [ ]:
print('Sentencia: df_vectorized["review_date"].str.get_dummies(" ")')
print('Transforma el campo de fecha en un nuevo DataFrame, separa la columna por espacios:\n',
      df_vectorized["review_date"].str.get_dummies(" "))

## Date and Time

In [ ]:
# vamos a levantar nuevamente el dataset y borrar algunas columnas
df_datetime = read_csv(f"{folder_dataset}/La_Mision_Hotel_Boutique-Asuncion__es.csv", delimiter=",")
df_datetime = df_datetime.drop(["review_body"], axis=1)
df_datetime.head()

In [ ]:
print('Sentencia: df_datetime["datetime"] = to_datetime(df_datetime["review_date"])')
df_datetime["date_and_time"] = to_datetime(df_datetime["review_date"])
print('Creamos la columna "date_and_time" a partir de la transformación de la '\
      'columna "review_date":\n',
      df_datetime)
print()
print('El tipo de la columna "review_date" es: ', df_datetime["review_date"].dtype)
print('El tipo de la columna "date_and_time" es: ', df_datetime["date_and_time"].dtype)
print('El tipo de dato datetime64[ns] es equivalente al tipo de dato "<M8[ns]" o ">M8[ns]"\n'\
      ' y depende del pc en donde lo estemos ejecutando: ', np.dtype('datetime64[ns]') == np.dtype('<M8[ns]'))

### Frecuencias y offset

| Código | Descripción |
| --- | --- |
| D | Día |
| B | Día laboral |
| W | Semana |
| M | Fin de mes |
| BM | Fin de mes laboral |
| Q | Fin del cuatrimestre |
| BQ | Fin del cuatrimestre laboral |
| A | Fin de año |
| BA | Fin de año laboral |
| H | Horas |
| BH | Horas laborales |
| T | Minutos |
| S | Segundos |
| L | Milisegundos |
| U | Microsegundos |
| N | Nanosegundos |
| MS | Month start |
| BMS | Comienzo del mes laboral |
| QS | Comienzo del cuatrimestre |
| BQS | Comienzo del cuatrimestre laboral |
| AS | Comienzo del año |
| BAS | Comienzo del año laboral |

In [ ]:
print('Sentencia: pd.date_range(start="2023-01-01", periods=12, freq="Q")')
print('Crea 12 fechas a partir del "2023-01-01" pero cada fecha es el fin de cada cuatrimestre:\n',
      pd.date_range(start="2023-01-01", periods=12, freq="Q"))
print()
print('Sentencia: pd.date_range(start="2023-01-01", periods=12, freq="BQ")')
print('Crea 12 fechas a partir del "2023-01-01" pero cada fecha es el fin de cada cuatrimestre laboral:\n',
      pd.date_range(start="2023-01-01", periods=12, freq="BQ"))
print('Notar la diferencia entre las posiciones 2 o 3 de ambos')

In [ ]:
print('Sentencia: pd.date_range(start="2023-01-01", periods=12, freq="H")')
print('Crea 12 fechas a partir del "2023-01-01" pero cada fecha es el fin de cada cuatrimestre:\n',
      pd.date_range(start="2023-01-01", periods=12, freq="H"))
print()
print('Sentencia: pd.date_range(start="2023-01-01", periods=12, freq="BH")')
print('Crea 12 fechas a partir del "2023-01-01" pero cada fecha es el fin de cada cuatrimestre laboral:\n',
      pd.date_range(start="2023-01-01", periods=12, freq="BH"))
print('Notar la diferencia entre las posiciones 0 o 1 de ambos')

In [ ]:
# elimino la columna review_date
df_datetime = df_datetime.drop("review_date", axis=1)
# transforma la columna date_and_time en DateTimeIndex
df_datetime["date_and_time"] = pd.to_datetime(df_datetime["date_and_time"])
# una vez transformada la seteo como nuevo índice
df_datetime = df_datetime.set_index("date_and_time")

In [ ]:
# calculo el promedio según el año laboral
df_datetime.resample('BA').mean()

In [ ]:
# hacemos un plot
df_datetime.resample('BA').mean().plot()