<a href="https://colab.research.google.com/github/AnaliaLeyez/AnaliaLeyez/blob/main/Trabajo_practico_02_Apellido_Nombre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Como se evaluaran los trabajos.
- Se debe entregar un 1 archivo con formato ipynb. Para esto voy al menú del colab a la sección Archivo -> Descarga -> ipynb.
- El archivo que se sube a la plataforma debe poseer los resultados de la ejecución.
- El notebook debe entregarse ejecutado.
- Los scripts deben funcionar, es decir, al ejecutar todo el notebook no se deben generar errores. Para esto voy al menú del colab a la sección Ejecución -> Ejecutar todo (ctrl+f9) y no debe generar errores.
- Utilizar nombres de variables que describan la acción (no utilizar nombres como a,x,p, etc).
- El nombre del archivo debe ser "trabajo_practico_0X-Apellido_Nombre.ipynb" o "trabajo_practico_0X_Apellido_Nombre.ipynb". Siendo la X el número del trabajo práctico.
- Solo se admite 1 respuesta por ejercicio, en caso de existir más de 1 respuesta, el ejercicio se tomará como incorrecto.
- Comentar utilizando las normas de python (pep8 o google).
- Utilizar type hints.
- Manejo y validación de errores.
- Utilización de formularios (en caso de ser solicitado).
- En caso de que no se cumplan los puntos anteriores se descontarán puntos.
- No está permitido montar el drive personal.

---

Vamos a trabajar con un dataset que contiene información de IMDb (Internet movie Database).

Las columnas son:
* id: Identificador único asignado a cada película o serie de televisión dentro del dataset. Este ID permite distinguir cada entrada de las demás.

* title: Título principal de la película o serie de televisión tal como se conoce comúnmente.

* type: Indica el tipo de contenido al que corresponde la fila, generalmente puede ser "movie" (película) o "show" (serie de televisión).

* description: Un breve resumen o sinopsis del argumento o la premisa de la película o serie de televisión.

* release_year: Año en el que la película fue estrenada o en el que se emitió el primer episodio de la serie de televisión.

* age_certification: Clasificación por edad o certificación de contenido (por ejemplo, PG-13, R, TV-MA). Esta información indica la audiencia para la que se considera apropiado el contenido. Puede estar ausente si no se dispone de esta información.

* runtime: Duración total de la película en minutos o la duración promedio de un episodio de la serie de televisión en minutos.

* genres: Lista de los géneros cinematográficos o televisivos a los que pertenece la película o serie (por ejemplo, drama, action, thriller, european). Puede haber múltiples géneros asociados a una misma entrada.

* production_countries: Lista de los países que estuvieron involucrados en la producción de la película o serie de televisión.

* seasons: Número total de temporadas que tiene una serie de televisión. Esta columna generalmente solo aplica a las entradas donde la columna "type" es "show". Para las películas, esta columna podría estar vacía o contener un valor nulo.

* imdb_id: Identificador único asignado a la película o serie de televisión dentro de la base de datos de IMDb (Internet Movie Database). Este ID permite enlazar la entrada con su página correspondiente en IMDb.

* imdb_score: Puntuación o calificación promedio que los usuarios de IMDb han otorgado a la película o serie de televisión. Generalmente es un valor numérico entre 0 y 10.

* imdb_votes: Número total de votos o calificaciones que la película o serie de televisión ha recibido por parte de los usuarios de IMDb. Un mayor número de votos puede indicar una mayor popularidad o un consenso más sólido sobre la puntuación.

* tmdb_popularity: Un valor numérico que representa la popularidad de la película o serie de televisión en la base de datos de TMDB (The Movie Database). Este valor se calcula en base a diversas métricas de actividad de los usuarios en la plataforma.

* tmdb_score: Puntuación o calificación promedio que los usuarios de TMDB han otorgado a la película o serie de televisión. Generalmente es un valor numérico entre 0 y 10.

[Descargar dataset](https://raw.githubusercontent.com/HAD141/datasets/refs/heads/main/TrabajosPracticos/imdb/titles.csv)

In [37]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [38]:
!pip install -U nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.12/dist-packages (3.9.2)
Requirement already satisfied: click in /usr/local/lib/python3.12/dist-packages (from nltk) (8.3.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.12/dist-packages (from nltk) (1.5.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.12/dist-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in /usr/local/lib/python3.12/dist-packages (from nltk) (4.67.1)

In [39]:
#imports necesarios:
import matplotlib.pyplot as plt
import pandas as pd
import re
import nltk

# Ejercicio 1

* Descargar y levantar el DataSet, mostrar las 12 primeras filas, y obtener información general (shape, tipos de datos, nulos).

In [40]:
#Levanto el DataSet
file= "/content/titles.csv"
df = pd.read_csv(file, delimiter=",")

# Muestro primeras 12 filas
print("Las primeras 12 filas son:\n",df.head(12))

# Muestro información general, lo guardo en variables por si las requiero luego
cantidad_filas=df.shape[0]
cantidad_columnas=df.shape[1]
cantidad_celdas=df.size
nulos_por_columna=df.isnull().sum()
print("\nLa cantidad de filas es: ", cantidad_filas)
print("La cantidad de columnas es: ", cantidad_columnas)
print("La cantidad de celdas es: ", cantidad_celdas)
print("\nLos tipos de datos son:\n", df.dtypes)
print("\nLa cantidad de nulos por columna es: \n", nulos_por_columna)

Las primeras 12 filas son:
           id                                title   type  \
0   ts300399  Five Came Back: The Reference Films   SHOW
1    tm84618                          Taxi Driver  MOVIE
2   tm154986                          Deliverance  MOVIE
3   tm127384      Monty Python and the Holy Grail  MOVIE
4   tm120801                      The Dirty Dozen  MOVIE
5    ts22164         Monty Python's Flying Circus   SHOW
6    tm70993                        Life of Brian  MOVIE
7    tm14873                          Dirty Harry  MOVIE
8   tm119281                     Bonnie and Clyde  MOVIE
9    tm98978                      The Blue Lagoon  MOVIE
10   tm44204                 The Guns of Navarone  MOVIE
11   tm67378                    The Professionals  MOVIE

                                          description  release_year  \
0   This collection includes 12 World War II-era p...          1945
1   A mentally unstable Vietnam War veteran works ...          1976
2   Intent on seeing the Cahulawassee River before...          1972
3   King Arthur, accompanied by his squire, recrui...          1975
4   12 American military prisoners in World War II...          1967
5   A British sketch comedy series with the shows ...          1969
6   Brian Cohen is an average young Jewish man, bu...          1979
7   When a madman dubbed 'Scorpio' terrorizes San ...          1971
8   In the 1930s, bored waitress Bonnie Parker fal...          1967
9   Two small children and a ship's cook survive a...          1980
10  A team of allied saboteurs are assigned an imp...          1961
11  An arrogant Texas millionaire hires four adven...          1966

   age_certification  runtime                             genres  \
0              TV-MA       51                      documentation
1                  R      114                       drama, crime
2                  R      109  drama, action, thriller, european
3                 PG       91            fantasy, action, comedy
4                NaN      150                        war, action
5              TV-14       30                   comedy, european
6                  R       94                             comedy
7                  R      102            thriller, action, crime
8                  R      110               crime, drama, action
9                  R      104             romance, action, drama
10               NaN      158                 action, drama, war
11             PG-13      117          western, action, european

   production_countries  seasons    imdb_id  imdb_score  imdb_votes  \
0                    US      1.0        NaN         NaN         NaN
1                    US      NaN  tt0075314         8.2    808582.0
2                    US      NaN  tt0068473         7.7    107673.0
3                    GB      NaN  tt0071853         8.2    534486.0
4                GB, US      NaN  tt0061578         7.7     72662.0
5                    GB      4.0  tt0063929         8.8     73424.0
6                    GB      NaN  tt0079470         8.0    395024.0
7                    US      NaN  tt0066999         7.7    155051.0
8                    US      NaN  tt0061418         7.7    112048.0
9                    US      NaN  tt0080453         5.8     69844.0
10               GB, US      NaN  tt0054953         7.5     50748.0
11                   US      NaN  tt0060862         7.3     16446.0

    tmdb_popularity  tmdb_score
0             0.600         NaN
1            40.965       8.179
2            10.010       7.300
3            15.461       7.811
4            20.398       7.600
5            17.617       8.306
6            17.770       7.800
7            12.817       7.500
8            15.687       7.500
9            50.324       6.156
10           13.844       7.300
11           13.123       7.100

La cantidad de filas es:  5850
La cantidad de columnas es:  15
La cantidad de celdas es:  87750

Los tipos de datos son:
 id                       object
title                    object
type                     object
description              object
release_year              int64
age_certification        object
runtime                   int64
genres                   object
production_countries     object
seasons                 float64
imdb_id                  object
imdb_score              float64
imdb_votes              float64
tmdb_popularity         float64
tmdb_score              float64
dtype: object

La cantidad de nulos por columna es:
 id                         0
title                      1
type                       0
description               18
release_year               0
age_certification       2619
runtime                    0
genres                    59
production_countries     230
seasons                 3744
imdb_id                  403
imdb_score               482
imdb_votes               498
tmdb_popularity           91
tmdb_score               311
dtype: int64

Observo datos nulos para los que debo decidir qué hacer

# Ejercicio 2
* Mostrar todos los títulos  ordenados alfabéticamente, separados por tipo, numerados desde 0 dentro de cada tipo. Para cada tipo agregar la cantidad total de títulos.

<br>

_Salida esperada:_

`TIPO`: CANTIDAD TOTAL `TOTAL_CALCULADO_POR_TIPO`

0: Título...

1: Título...

3: Título...

...

In [ ]:
#Antes de resolver el ej2 realizo una limpieza de los datos:

#Elimino el único registro sin título ya que lo considero un campo clave para el análsis
df.dropna(subset=["title"], inplace=True)
#Elimino los 59 registros que no tienen género ya que también lo considero un campo clave para el análsis y no es un gran volumen
df.dropna(subset=["genres"], inplace=True)
#Los casos con nulo en 'production_countries' los reemplazo con "Desconocido" para no perder esos registros
df.fillna({"production_countries": "Desconocido"}, inplace=True)
#Los casos con nulo en 'description' los reemplazo con un string vacío para no perder esos registros ni alterar el análisis de palabras
df.fillna({"description":""}, inplace=True)
#Los casos con nulo en 'age_certification' los reemplazo con "Sin descripción" ya que puede estar ausente
df.fillna({"age_certification":"Sin  Descripción"}, inplace=True)
#Reemplazo valores nulos de runtime, los completo con la mediana para no generar sesgos
df.fillna({"runtime": df['runtime'].median()},inplace=True)
#Reemplazo valores nulos de seasons según mi interpretación:
# -Selecciono las filas de MOVIE y las completo con 0 en la columna 'seasons' ya que no puede tener temporadas
df.loc[df['type'] == 'MOVIE', 'seasons'] = 0
# -Para SHOW, reemplazo los valores nulos de seasons con 1, si no habia datos considero que tuvo solo una temporada.
df['seasons'] = df['seasons'].fillna(1)

#Vuelvo a chequear la cantidad de nulos
print("\nLa cantidad de nulos por columna es: \n", df.isnull().sum())

#Decido dejar las columnas de imdb y tmdb con nulos por el momento para no perder muchos registros,
#en caso de tener que analizar estas columnas decidiré qué opción es conveniente según el objetivo.

In [ ]:
#Traigo los tipos, utilizo unique para tener cada tipo una sola vez
tipos = df["type"].unique()

#Recorro cada tipo
for tipo in tipos:
    #Armo un nuevo df con las filas que tienen un valor de "type", igual al valor actual del bucle
    df_por_tipo = df[df["type"] == tipo].copy()
    #Muestro el "tipo" que estoy iterando y cantidad de películas de este tipo
    print(f"\nTIPO: {tipo.upper()}  CANTIDAD TOTAL: {len(df_por_tipo)}")
    #Ordeno alfabéticamente por título para luego mostrar
    df_por_tipo_ordenado = df_por_tipo['title'].sort_values()
    #Enumero los títulos desde 0
    for i, titulo in enumerate(df_por_tipo_ordenado):
        print(f"{i}: {titulo}")

# Ejercicio 3

* Calcular, cuál es el porcentaje de películas y de series.
* Realizar un gráfico de barras con los datos calculados en el punto anterior.

In [ ]:
#1º Calcular, cuál es el porcentaje de películas y de series

#Cuento cuántos registros hay de cada tipo, o sea, cuántas películas y cuántas series
cantidad_por_tipo = df["type"].value_counts()
#Calculo el porcentaje que representa en cada caso
porcentaje = (cantidad_por_tipo / cantidad_filas) * 100
#Resultados
print("Cantidad de registros por tipo:\n", cantidad_por_tipo)
print("\nPorcentaje por tipo:\n", porcentaje.round(2))

#2º Crear el gráfico de barras
porcentaje.plot.bar(title="Porcentaje de películas y series", xlabel="Tipo de contenido", ylabel="Porcentaje",color=['steelblue', 'orange'],width=0.9,rot=0).set_ylim(0, 100)
#Sumo una etiqueta con el porcentaje de cada columna
for i, valor in enumerate(porcentaje.values):
  #centro el texto de la etiqueta y la ubico por arriba de la columna con el sígno de %
  plt.text(i, valor+1, f"{valor:.1f}%", ha='center')

# Ejercicio 4
* Calcular la cantidad de películas y series por país.
* Ordenarlas de mayor a menor según el total de series y películas.
* Mostrar los 9 paises con mayor producción.
* Realizar un gráfico de barras horizontales apiladas (películas + series) de los 9 paises con mayor producción.

<br>

_Salida esperada:_
```
                     `PELÍCULAS` `SERIES` `TOTAL`
`PAÍS_PRODUCCIÓN`

US                    100         5       105
...
```

In [ ]:
#1º Calcular la cantidad de películas y series por país.

#Trabajo solo con los casos que tienen nombre de país
df_filtrado = df[df['production_countries'] != 'Desconocido']
#Creo una copia del DF con las columnas "production_countries" y "type" que son las que quiero analizar
df_production_countries = df_filtrado[["production_countries", "type"]].copy()
#Convierto la columna 'production_countries' a un tipo de dato list para poder aplicar explode() luego
df_production_countries['production_countries'] = df_production_countries['production_countries'].str.split(', ')
"""
Como algunas películas/series pueden ser producidas por más de un país,
uso explode() para expandir las filas que contienen listas de paises,
generando asì una nueva fila por cada país que haya producido la película/serie
"""
df_production_countries = df_production_countries.explode('production_countries')
##Cuento la cantidad de películas y series por país y le aplico unstack para que los "tipos" pasen a ser los nombres de las columnas
##agrego fiil_value=0 para aquellos casos en que la serie o película quede con valor NaN
cantidad_por_pais = df_production_countries.groupby('production_countries')['type'].value_counts().unstack(fill_value=0)

#2ºOrdenarlas de mayor a menor según el total de series y películas.

#Calculo el total de producciones por país, sumando por filas y lo guardo en la columna "Total"
cantidad_por_pais['TOTAL'] = cantidad_por_pais.sum(axis=1)
#Ordeno por el total de producciones de mayor a menor
cantidad_por_pais_ordenado = cantidad_por_pais.sort_values(by='TOTAL', ascending=False)

#3º Mostrar los 9 paises con mayor producción.

#Muestro los 9 países con mayor producción
top_9paises = cantidad_por_pais_ordenado.head(9).copy()
#Renomnbro los títulos de las columnas y el índice
top_9paises.rename(columns={"MOVIE": "PELÍCULAS", "SHOW": "SERIES"}, inplace=True)
top_9paises.index.name = "PAÍS_PRODUCCIÓN"
#Muestro el resultado
print("Los 9 países con mayor producción de películas y series son:\n", top_9paises)
print("\n")

#4º Realizar un gráfico de barras horizontales apiladas (películas + series) de los 9 paises con mayor producción.

#Elimino la columna 'TOTAL' para el gráfico
top_9paises= top_9paises[['PELÍCULAS', 'SERIES']]
#Creo el gráfico de barras apiladas utilizando stacked=True
ax = top_9paises.plot.barh(stacked=True, figsize=(15, 4), title='Paises con más producción de películas y series', xlabel='Cantidad', ylabel='País', color=['steelblue', 'orange'], width=0.9)
#Muestro el país con mayor producción arriba para visualizar de mayor a menor
ax.invert_yaxis()
#Limito el eje X hasta 2500
ax.set_xlim(right=2500)
#Muestro la etiqueta con la cantidad de cada barra
# Muestro la etiqueta con la cantidad de cada barra

for i, valor in enumerate(cantidad_por_tipo.values):
  ax.bar_label(ax.containers[i], label_type='center')

# Ejercicio 5

Utilizando la columna `runtime` o `duración`, vamos a realizar franjas de 30 minutos, es decir, 0-29, 30-59, 60-89, etc. Con estas franjas se deberán crear las siguientes gráficas:

* Barras horizontal con la cantidad de películas por franja de duración.
* Barras horizontal con la cantidad de series por temporadas.

In [ ]:
#1º Graficar barras horizontales con la cantidad de películas por franja de duración.

#Creo un df solo con las películas
df_movies = df[df['type'] == 'MOVIE'].copy()
#Defino rangos de 30 minutos, iniciando en 0 y terminando luego del máximo de runtime,
#uso closed='left' para que quede intervalo abierto a derecha
rangos= pd.interval_range(start=0, end=df['runtime'].max()+30, freq=30, closed='left')
#Creo la columna "franja_duracion"
df_movies["franja_duracion"] = pd.cut(df_movies["runtime"], bins=rangos)
#Cuento la cantidad de películas por franja
peliculas_por_franja = df_movies["franja_duracion"].value_counts().sort_index()
#Creo el gráfico de barras horizontales
ax= peliculas_por_franja.plot.barh( figsize=(15, 4), title='Cantidad de películas por franja de duración', xlabel='Cantidad', ylabel='Duración en minutos', width=0.9)
#Limito el eje X hasta el valor máximo de películas en una franja
ax.set_xlim(right=peliculas_por_franja.max() + 50)
#Muestro la etiqueta con la cantidad de cada barra
for i, valor in enumerate(peliculas_por_franja.values):
  ax.text(valor, i, f"{valor}", va='center')

In [ ]:
#2º Graficar barras horizontales con la cantidad de series por temporadas.
#Creo un DataFrame solo con las series
df_shows = df[df['type'] == 'SHOW'].copy()
#Cuento la cantidad de series según el número de temporadas
series_por_temporada = df_shows['seasons'].value_counts().sort_index()
#Creo el gráfico de barras horizontales
ax = series_por_temporada.plot.barh(figsize=(15, 4), title='Cantidad de series por temporadas', xlabel='Cantidad', ylabel='Temporadas', width=0.9)
#Ajusto el límite del eje X
ax.set_xlim(right=series_por_temporada.max() + 50)
#Agrego etiquetas a las barras
for i, valor in enumerate(series_por_temporada.values):
    ax.text(valor, i, f"{valor}", va='center')

#Ejercicio 6
* Identificar los 8 géneros más frecuentes y mostrar cuántos títulos tienen cada uno.
* Realizar grafico de barras del top.
* Ordenar grafico de mayor a menor.

<br>

_Salida esperada:_

`GENERO`

drama            10

...

In [ ]:
#1º Identificar los 8 géneros más frecuentes y mostrar cuántos títulos tienen cada uno.

#Creo una copia del DF con la columna "genres" que es la que quiero analizar
df_genres = df[["genres"]].copy()
#Convierto la columna 'genres' a un tipo de dato list para poder aplicar explode()
df_genres['genres'] = df_genres['genres'].str.split(', ')
##Como algunas películas/series pueden corresponder a más de un género,
##uso explode() para expandir las filas que contienen listas de géneros
df_genres= df_genres.explode('genres')
#Cuento la cantidad de titulos por género
cantidad_por_genero = df_genres['genres'].value_counts()
#Identifico los 8 géneros más frecuentes
top_8generos = cantidad_por_genero.head(8)
#Renombro el nombre del índice, paso de "genres" a "GÉNERO"
top_8generos.index.name = "GÉNERO"
#Muestro cuántos títulos tiene cada uno de los 8 géneros más frecuentes
print("Los 8 géneros con más títulos, y su cantidad, son: \n", top_8generos)

#2º Realizar grafico de barras del top y ordenar el grafico de mayor a menor.

#Creo el gráfico de barras horizontales
ax=top_8generos.plot.barh(title='Géneros más frecuentes', xlabel='Cantidad de títulos', ylabel='Género')
#Uso invert_yaxis() para visualizar de mayor a menor
ax.invert_yaxis()
#Agrego etiquetas a las barras
for i, valor in enumerate(top_8generos.values):
    ax.text(valor, i, f"{valor}", va='center')

#Ejercicio 7
* Calcular el puntaje promedio por tipo.
* Calcular el puntaje promedio por género.

<br>

_Salida esperada:_

```
Puntaje promedio IMDb por tipo:
TIPO
MOVIE    2.1
...
```

```
Puntaje promedio IMDb por género:
GENERO
history          1.2
...
```

In [ ]:
#Elimino de este análisis los registros con 'imdb_score' nulo para no alterar
#el cálculo de promedio y basarme solo en datos completos
df_IMDb = df.dropna(subset=["imdb_score"]).copy()

#1º Puntaje promedio por tipo
#Calculo el promedio del 'imdb_score' habiendo agrupado por "type"
IMDb_promedio_tipo = df_IMDb.groupby('type')['imdb_score'].mean().round(2)
#Renombro el índice a TIPO
IMDb_promedio_tipo.index.name = "TIPO"
#Muestro el promedio
print("Puntaje IMDb promedio por tipo:\n", IMDb_promedio_tipo, "\n")


#2º Puntaje promedio por género
#Genero una nueva fila por cada gènero que tenga la película/serie
df_IMDb['genres'] = df_IMDb['genres'].str.split(', ')
df_IMDb = df_IMDb.explode('genres')
#Calculo el promedio del 'imdb_score' habiendo agrupado por "genres"
IMDb_promedio_genero = df_IMDb.groupby('genres')['imdb_score'].mean().round(2)
#Renombro el índice a GENERO
IMDb_promedio_genero.index.name = "GENERO"
#Muestro el promedio ordenado por género afabétiamente
print("Puntaje IMDb promedio por género:\n", IMDb_promedio_genero.sort_index(), "\n")

#Ejercicio 8
* Crear una columna llamada "nombres_descripcion" que extraiga posibles nombres (ej: “John Smith”) desde la columna description.
* Mostar las 15 primeras filas con los nombres extraidos.

<br>

_Salida esperada:_

```
      title	                              nombres_descripcion
0	    Five Came Back: The Reference Films	[....]

```

In [ ]:
#Creo una función que busque posibles nombres en un texto
def extraer_nombres(texto):
  #si el texto es nulo, no busco nombres
  if pd.isna(texto):
    return None
  #Busco patrones tipo "Nombre Apellido" poniendo como condicion tener al menos dos palabras iniciadas en mayúscula
  patron= r'([A-Z][a-z]+ [A-Z][a-z]+)+'
  #almaceno las coincidencias en la variable "nombres"
  nombres = re.findall(patron, texto)
  #Si hay varios nombres los concateno, sino, devuelvo nulo
  return ", ".join(nombres) if nombres else None

#Creo una copia del DataFrame con las columnas "title" y "description" que son las que necesito
df_nombres = df[["title", "description"]].copy()
#Creo la nueva columna aplicando la función que busca posibles nombres
df_nombres["nombres_descripcion"] = df_nombres["description"].apply(extraer_nombres)
#Elimino las filas sin nombres detectados
df_nombres.dropna(subset=["nombres_descripcion"], inplace=True)
#Muestro las primeras 15 filas con resultados no nulos
print(df_nombres[["title", "nombres_descripcion"]].head(15))

# Ejercicio 9
* Realizar un grafico de barra horizontal de cuántos títulos hay por década.

In [ ]:
#Creo una copia para no modificar el original, copio solo la columna release_year
df_decada = df[["release_year"]].copy()
#Calculo la década y la guardo en una nueva columna "decade"
df_decada["decade"] = (df_decada["release_year"] // 10) * 10
#Cuento cantidad de títulos por década y ordeno por año
titulos_por_decada = df_decada['decade'].value_counts().sort_index()
#Armo el gráfico
ax=titulos_por_decada.plot.barh(figsize=(15, 4), title='Cantidad de títulos por década',xlabel='Cantidad de títulos',ylabel='Década', width=0.9)
#Agrego etiquetas a las barras
for i, valor in enumerate(titulos_por_decada.values):
    ax.text(valor, i, f"{valor}", va='center')

# Ejercicio 10
* Filtrar las producciones donde uno de los países involucrados sea **Francia**.
* Tokenizar las descripciones de las producciones filtradas.
* Eliminar stopwords y palabras no alfabéticas.
* Contar las palabras más frecuentes.
* Mostrar el top 10 en un gráfico de barras.

In [ ]:
from nltk.corpus import stopwords
from nltk.tokenize import ToktokTokenizer

# Para poder utilizar los tokenizadores necesitamos descargar la biblioteca
# de caracteres de puntuación
nltk.download('punkt')
nltk.download('punkt_tab')
#Descargo el paquete de stopwords
nltk.download('stopwords')

#Creo el tokenizador ToktokTokenizer
toktokTokenizer = ToktokTokenizer()
# Cargo las stopwords en inglés
stop_words = nltk.corpus.stopwords.words()

#1º Filtro producciones donde uno de los países sea Francia
df_france = df[df['production_countries'].str.contains('FR', na=False)].copy()

#2º Tokenizar las descripciones y limpiamos los nulos
descripciones = df_france['description'].dropna().astype(str)
#Creo una lista de todas las palabras
todas_las_palabras = []

for texto in descripciones:
    tokens = toktokTokenizer.tokenize(text=texto.lower())
    #3º elimino palabras no alfabéticas y stopwords
    palabras_limpias = [w for w in tokens if w.isalpha() and w not in stop_words]
    todas_las_palabras.extend(palabras_limpias)

#4º Cuento cantidad de palabras más frecuentes
#5º Me quedo con el top 10
top_10palabras = pd.Series(todas_las_palabras).value_counts().head(10)
#Armo el gráfico de barras horizontales
ax = top_10palabras.plot.barh(figsize=(15, 4),title='Palabras más frecuentes en descripciones de producciones francesas', xlabel='Frecuencia', ylabel='Palabra', width=0.9)
#Uso invert_yaxis() para visualizar de mayor a menor
ax.invert_yaxis()
#Muestro la etiqueta con la cantidad de cada barra
for i, valor in enumerate(top_10palabras.values):
    ax.text(valor, i, f"{valor}", va='center')